@import url('https://fonts.googleapis.com/css?family=Sulphur+Point:400,700&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    font-family: 'Sulphur Point', sans-serif;
    color: #1c7bb7;
    background: #90c0de;
}

header {
    grid-row: 4;
    grid-column: 1 / -1;
    h1 {
        text-align: center;
        font-size: 3em;
    }
}

#clock {
    text-align: center;
    font-size: 3em;  
    grid-row: 5;
    grid-column: 1 / -1;
}

section {
    grid-row: 6;
    grid-column: 1 / -1;
    text-align: center;

    p {
       font-size: 1.8em;
    }

    small {
        font-size: 1em;
        position: relative;
        bottom: 30px;
    }
}